.reddit-comment {
    color: #444;
    background: #fefefe;
    padding: 0 10px;
    border-left: 1px dotted #ddd;
    margin: 10px 0 0 10px;
    font-size: 100%;
    position: relative;
}

.reddit-comment .rc-header {
    font-size: 70%;
}

.reddit-comment .rc-comment {
    margin: 5px 0 0;
}

.reddit-comment .rc-vote {
    width: 15px;
    float: left;
    clear: both;
    margin-right: 5px;
}

.reddit-comment button {
    background: transparent;
    border: none !important;
}

.reddit-comment button:focus {
    outline: 0;
}

/*********
 * Arrows
 * Source: http://codepen.io/eMaj/pen/joLqt
 *********/

.rc-arrow {
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    margin: 3px;
}

.rc-arrow:before, .rc-arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.rc-arrow-up:before {
    border: none;
    background-color: #C6C6C6;
    height: 50%;
    width: 40%;
    top: 50%;
    left: 30%;
}

.rc-arrow-up:after {
    left: 0;
    top: -30%;
    border-width: 0.5em 0.5em;
    border-bottom-color: #C6C6C6;
}

.rc-arrow-down:before {
    border: none;
    background-color: #C6C6C6;
    height: 50%;
    width: 40%;
    top: 0;
    left: 30%;
}

.rc-arrow-down:after {
    left: 0;
    top: 40%;
    border-width: 0.5em 0.5em;
    border-top-color: #C6C6C6;
}

.rc-arrow-up:active:before {
    background-color: #FF6600;
}

.rc-arrow-up:active:after {
    border-bottom-color: #FF6600;
}

.rc-arrow-down:active:before {
    background-color: #447BD4;
}

.rc-arrow-down:active:after {
    border-top-color: #447BD4;
}


/*****************************
 * Collapse / expand icons
 ****************************/

.rc-collapse {
    position: absolute;
    top: 2px;
    left: -5.5px;
    padding: 0;
    margin: 0;
    background-color: #fff !important;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

/* Horizontal line or "minus" */
.rc-icon-horiz:before {
    content: "";
    background-color: #C6C6C6;
    width: 100%;
    height: 2px;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    top: 4px;
    left: 0;
}

/* Vertical line, combined with a horizontal line to produce a "plus" */
.rc-icon-vert:after {
    content: "";
    background-color: #C6C6C6;
    width: 2px;
    height: 100%;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 4px;
}
