<div class="reddit-comment">
    <div class="rc-vote">
        <button class="rc-arrow rc-arrow-up"></button>
        <button class="rc-arrow rc-arrow-down"></button>
    </div>
    <button class="rc-collapse rc-icon-horiz"></button>
    <div class="rc-header">
        <span class="rc-author">{{author}}</span> &bull;
        <span class="rc-score">{{score}}</span> points &bull;
        around <span class="rc-created" title="{{created_timestamp}}">{{created_vague}}</span>
    </div>
    <div class="rc-comment">{{!body}}</div>
    {{!replies}}
</div>
